<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.assistindia.convene">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <application
        android:name="org.assistindia.convene.BaseApplication"
        android:icon="@mipmap/akrspi"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.assistindia.convene.Splash"
            android:allowBackup="true"
            android:configChanges="orientation"
            android:largeHeap="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.assistindia.convene.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.assistindia.convene.LoginParentActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.assistindia.convene.SurveyQuestionActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBjrTmIgrILwsJZ4gtg8JnT-U9uzyjGH8Y" />

        <activity
            android:name="org.assistindia.convene.SurveyListLevels"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.assistindia.convene.LevelsActivityNew"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.assistindia.convene.UpdateMasterLoading"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <service android:name="org.assistindia.convene.MyIntentService">
            <intent-filter>
                <action android:name="Survey" />
            </intent-filter>
        </service>
        <service android:name="org.assistindia.convene.MyIntentLinkage">
            <intent-filter>
                <action android:name="Linkage" />
            </intent-filter>
        </service>
        <service android:name="org.assistindia.convene.network.LangService">
            <intent-filter>
                <action android:name="LangService" />
            </intent-filter>
        </service>
        <service
            android:name="org.assistindia.convene.MyIntentPeriodicity"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="PeriodicIntentReceiver" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </service>
        <service
            android:name="org.assistindia.convene.MyIntentServiceBeneficiary"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="BeneficiaryIntentReceiver" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </service>
        <service
            android:name="org.assistindia.convene.IntentServiceBeneficiaryUpdate"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="BeneficiaryUpdateIntentReceiver" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </service>
        <service
            android:name="org.assistindia.convene.MyIntentServiceFacility"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="FacilityIntentReceiver" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </service>

        <receiver android:name="org.assistindia.convene.receivers.BatteryChangereciever">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.assistindia.convene.receivers.PowerConnectionReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="02925ef542d587b0d078678a1e73a90a8291f618" />

        <receiver
            android:name="org.assistindia.convene.AlarmService"
            android:process=":remote" />
        <receiver
            android:name="org.assistindia.convene.receivers.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="org.assistindia.convene.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.assistindia.convene.HomeActivityNew"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.assistindia.convene.ListingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="org.assistindia.convene.TypeDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.assistindia.convene.AddBeneficiaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.assistindia.convene.AddFacilityActivity"
            android:screenOrientation="portrait" />
        <activity android:name="org.assistindia.convene.ShowSurveyPreview" />
        <activity
            android:name="org.assistindia.convene.DataCollectionListingActivity"
            android:label="@string/title_activity_data_collection_listing"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name="org.assistindia.convene.FilterActivityActivity" />
        <activity
            android:name="org.assistindia.convene.SurveySummaryReport"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.assistindia.convene.Beneficiarylinkages"
            android:label="@string/title_activity_beneficiarylinkages"
            android:theme="@style/AppTheme" />
        <activity android:name="org.assistindia.convene.ShowMemberListActivity" />
        <activity android:name="org.assistindia.convene.LocationBasedActivity" />
        <activity android:name="org.assistindia.convene.ProjectSelectionActivity" />
        <activity android:name="org.assistindia.convene.ImageProcessingActivity"></activity>
    </application>

</manifest>